.calcContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "display history"
        "button-wrapper history";
    grid-template-columns: minmax(100px, 3fr) minmax(50px, 1fr);
    grid-template-rows: 90px minmax(140px, 1fr);
}

.display {
    grid-area: display;
    margin-bottom: 5px;
    color: black;
    background-color: white;
}

.calcButton {
    //display: flex;
    width: 90%;
    height: 90%;
    flex-grow: 1;
    position: relative;

    p {
        margin: 0;
        font-size: 100%;
        justify-content: center;
    }
}

.calcButtonsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-area: button-wrapper;
}

.calcButtonContainer {
    box-sizing: border-box;
    display: flex;
    width: 25%;
    height: 15%;
}

.calcHistory {
    grid-area: history;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left: 5px;
    background-color: green;
    color: green;
}