.calcContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "calc history";
    grid-template-columns: minmax(100px, 3fr) minmax(50px, .8fr);

}

.calcUnitContainer {
    grid-area: calc;
    display: grid;
    grid-template-areas:
        "display"
        "button-wrapper";
    grid-template-rows: 90px minmax(140px, 1fr);
    padding-left: 10%;
    padding-right: 10%;
}

/* .display {
    grid-area: display;
    box-sizing: border-box;
    border: 100px;
    color: black;
    background-color: white;
} */

.calcButton {
    //display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    p {
        margin: 0;
        font-size: 2vw;
        justify-content: center;
    }
}

.calcButton:hover {
    cursor: pointer;
}

.calcButtonsWrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* display: grid;
    grid-template-areas: 
        "num num num basicOp"
        "num num num basicOp"
        "num num num basicOp"
        "symbol symbol num basicOp"; */
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-area: button-wrapper;

    .num {
        grid-area: span num;
    }

    .basicOp {
        grid-area: span basicOp;
    }

    .symbols {
        grid-area: span symbo;
    }

    .equalsKey {
        width: 50%;
        justify-content: left;
    }
}

.calcButtonContainer {
    //grid-area: span btn;
    box-sizing: border-box;
    padding: 0.5%;
    display: flex;
    width: 25%;
    height: 20%;
}

@media (min-width: 900px) {
    .calcHistory {
        grid-area: history;
        box-sizing: border-box;
        margin-bottom: 15px;
        margin-left: 5px;
        background-color: rgb(135, 206, 235);
        color: blue;
    }
}

.calcHistory {
    li {
        box-sizing: border-box;
        border: 1px solid black;
        list-style: none;
        color: white;
    }

    li:hover {
        cursor: pointer;
        background-color: rgb(170, 223, 244);
    }
}