@use '../lib/siteColors';

.calcContainer {
    box-sizing: border-box;
    margin-top: 2em;
    width: fit-content;
    height: 90%;
    display: flex;

}

.calcUnitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-area: calc;
    display: grid;
    grid-template-areas:
        "display"
        "button-wrapper";
    grid-template-rows: 90px minmax(140px, 1fr);
    padding-left: 10%;
    padding-right: 10%; */
}
.calcDisplay {
    flex-basis: 20%;
    width: 80%;
    //border: 100px;
    color: black;
    background-color: white;
    margin-bottom: 1em;
}



.calcButton:hover {
    cursor: pointer;
    
}

.calcButtonsWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    flex-grow: 1;
    /* display: grid;
    grid-template-areas: 
        "num num num basicOp"
        "num num num basicOp"
        "num num num basicOp"
        "symbol symbol num basicOp"; */
    justify-content: center;
    height: 100%;
    width: fit-content;

    .calcButton {
            //display: flex;
            box-sizing: border-box;
            flex-basis: 20.5%;
            min-width: 3rem;
            height: 15%;
            position: relative;
            margin-left: 1.5%;
            margin-right: 1.5%;
            //border: 1em solid siteColors.$mainColor;
            p {
                margin: 0;
                font-size: 2vw;
                justify-content: center;
            }
        }

    .num {
        grid-area: span num;
    }

    .basicOp {
        grid-area: span basicOp;
    }

    .symbols {
        grid-area: span symbo;
    }

    .equalsKey {
        width: 50%;
        justify-content: left;
    }
}

.calcButtonContainer {
    //grid-area: span btn;
    box-sizing: border-box;
    padding: 0.5%;
    display: flex;
    width: 25%;
    height: 20%;
}

@media (min-width: 900px) {
    .calcHistory {
        grid-area: history;
        box-sizing: border-box;
        margin-bottom: 15px;
        margin-left: 5px;
        background-color: rgb(135, 206, 235);
        color: blue;
    }
}

.calcHistory {
    li {
        box-sizing: border-box;
        border: 1px solid black;
        list-style: none;
        color: white;
    }

    li:hover {
        cursor: pointer;
        background-color: rgb(170, 223, 244);
    }
}