#sidebar {
    grid-area: sidebar;
    color: blue;
    background-color: #f7f7f7;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    ul {
        justify-self: stretch;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        display: flex;
        justify-self: stretch;
        font-style: oblique;
        height: 3rem;
        border: solid 2px black;
        margin-bottom: 1rem;
        background-color: rgba(231, 170, 120, 0.74);
    }

    a:link,
    a:visited {
        color: black;
        font-size: 1.2rem;
    }

    /* a:hover {

    }
    a:active {

    } */
    nav {
        display: flex;
        flex-direction: column;
    }

    button {
        height: 3rem;
        width: 3rem;
        position: relative;

        align-self: flex-end;
        color: #b2bac2;
        background-color: green;
        border: none;
        cursor: pointer;
        padding-left: 20px;
    }
}

#sidebar:closed {
    transition: width 0.3s ease-in-out;
    width: 5rem;
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #b2bac2;
    text-decoration: none;
}

.linkText {
    padding-left: 16px;
}

.linkText:closed {
    visibility: hidden;
}

.sideitem:hover {
    background-color: #244f7d1c;
    box-shadow: 2px 2px 5px black;
}

.menuButton {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: #b2bac2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

/*  */